<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design"
        tools:targetApi="31">
        <activity
            android:name=".activity.IntentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TodoListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RecyclerViewStaggeredActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RecyclerViewGridActivity"
            android:exported="false" />
        <activity android:name=".activity.RecyclerViewLinearActivity" />
        <activity android:name=".activity.RecyclerViewMultipleViewHolderActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity
            android:name=".activity.AppBarLayoutActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity android:name=".activity.GridLayoutActivity" />
        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".activity.SnackbarActivity" />
        <activity android:name=".activity.FloatingActionButtonActivity" />
        <activity android:name=".activity.FrameLayoutActivity" />
        <activity android:name=".activity.DataBindingActivity" />
        <activity android:name=".activity.DatePickerActivity" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.ChipsActivity" />
        <activity android:name=".activity.ProgressActivity" />
        <activity android:name=".activity.ToastActivity" />
        <activity android:name=".activity.ImageViewActivity" />
        <activity android:name=".activity.ToggleSwitchActivity" />
        <activity android:name=".activity.RadioBtnActivity" />
        <activity android:name=".activity.ButtonsActivity" />
        <activity android:name=".activity.EditTextActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/HomeScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TextViewActivity" />
    </application>

</manifest>