<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.AppClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name=".activity.PermissionModelActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CoughMedicineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CoughMedicineTheme" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name=".activity.OneCloudAccountSecurity"
            android:screenOrientation="portrait"
            android:theme="@style/OneCloudTheme" />
        <activity
            android:name=".activity.RecyclerViewKtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RecyclerViewKtTheme" />
        <activity
            android:name="com.example.onecloud.modules.dashboard.activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OneCloudTheme" />
        <activity
            android:name="com.example.onecloud.modules.login.activity.OneCloudLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OneCloudTheme" />
        <activity
            android:name="com.example.onecloud.modules.login.activity.OneCloudOnBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OneCloudTheme" />
        <activity android:name="com.example.webService.activity.DeleteRequestActivity" />
        <activity android:name="com.example.webService.activity.UpdateRequestActivity" />
        <activity android:name="com.example.webService.activity.PostRequestActivity" />
        <activity
            android:name="com.example.webService.activity.GetRequestActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity android:name="com.example.webService.activity.WebServicesActivity" />
        <activity android:name=".activity.NavigationActivity" />
        <activity android:name=".activity.SearchViewActivity" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DataPassActivity" />
        <activity android:name=".activity.IntentsActivity" />
        <activity android:name=".activity.FragmentActivity" />
        <activity android:name=".activity.BottomNavigationActivity" />
        <activity android:name=".activity.TodoListActivity" />
        <activity android:name=".activity.RecyclerViewStaggeredActivity" />
        <activity android:name=".activity.RecyclerViewGridActivity" />
        <activity android:name=".activity.RecyclerViewLinearActivity" />
        <activity android:name=".activity.RecyclerViewMultipleViewHolderActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity
            android:name=".activity.AppBarLayoutActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity android:name=".activity.GridLayoutActivity" />
        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".activity.SnackbarActivity" />
        <activity android:name=".activity.FloatingActionButtonActivity" />
        <activity android:name=".activity.FrameLayoutActivity" />
        <activity android:name=".activity.DatePickerActivity" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.ChipsActivity" />
        <activity android:name=".activity.ProgressActivity" />
        <activity android:name=".activity.ToastActivity" />
        <activity android:name=".activity.ImageViewActivity" />
        <activity android:name=".activity.ToggleSwitchActivity" />
        <activity android:name=".activity.RadioBtnActivity" />
        <activity android:name=".activity.ButtonsActivity" />
        <activity android:name=".activity.EditTextActivity" />
        <activity android:name=".activity.TextViewActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/HomeScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".helper.TimerReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>